<template>
  <div>
    <navBar></navBar>
    <div v-show="isPre"><Precadastrados></Precadastrados></div>
    <div v-show="isForm"><Formulario></Formulario></div>
    <div v-show="isSearch"><Search2></Search2></div>
  </div>
</template>
<script>
import navBar from "@/components/_navBar";
import Precadastrados from "@/components/_mobilePrecadastrados";
import Formulario from "@/components/_mobileFormulario";
import Search2 from "@/components/_mobileSearch2";
export default {
  name: "mobileMainPage",
  components: { navBar, Precadastrados, Formulario, Search2 },
  data() {
    return { isPre: false, isForm: true, isSearch: false };
  },
  methods: {
    toggleVisible(n) {
      this.isPre = false;
      this.isForm = false;
      this.isSearch = false;
      if (n == 1) {
        this.isPre = true;
      }
      if (n == 2) {
        this.isForm = true;
      }
      if (n == 3) {
        this.isSearch = true;
      }
    },
  },
};
</script>
<style scoped>
</style>
