<template>
  <div>
    <h3 class="mt-1 mb-1">Pré Cadastrados</h3>
    <div v-for="prec in precs" v-bind:key="prec.id" class="card">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">{{ prec.merchantName }}</div>
        </div>
        <div class="row">
          <div class="col-12">{{ prec.category }}</div>
        </div>
        <div class="row">
          <div class="col-12">{{ prec.city }}</div>
        </div>
        <div class="row">
          <div class="col-12">{{ prec.email }}</div>
        </div>
        <div class="row">
          <div class="col-12">{{ prec.phone }}</div>
        </div>
        <div class="row">
          <div class="col-12">Responsável: {{ prec.name }}</div>
        </div>

        <div class="row">
          <div class="col-1">&nbsp;</div>
          <div
            class="col-5 mydanger"
            v-on:click="confirmDelete(prec.id, prec.merchantName)"
          >
            Apagar
          </div>
          <div
            class="col-5 mysucess"
            v-on:click="cadastrarPreCadastrados(prec.id)"
          >
            Cadastrar
          </div>
          <div class="col-1">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "mobilePrecadastrados",
  data() {
    return {      
      baseUrl: this.$root.$children[0].SERVERAPI.server,
      bearerToken: "Bearer " + this.$root.$children[0].LOGIN.token,
      precs: {},
      prec_id_to_delete: -1,
      prec_name_to_delete: -1,
    };
  },
  methods: {
    preregister: function () {
      axios
        .get(this.baseUrl + "merchants/preregister", {
          headers: { Authorization: this.bearerToken },
        })
        .then((response) => {
          this.precs = response.data;
          this.$toast.success("Précadastrados carregados");
        })
        .catch((error) => {
          this.$toast.error("Précadastrados: " + error);
        });
    },
    deletePreCadastrados: function (id) {
      let self = this;
      axios
        .delete(this.baseUrl + "merchants/preregister/" + id, {
          headers: { Authorization: this.bearerToken },
        })
        .then(() => {
          this.precs = this.precs.filter((x) => x.id !== id);
          this.$toast.success(
            '"' + self.prec_name_to_delete + '" foi apagado.'
          );
        })
        .catch((error) => {
          this.$toast.error("Précadastrados-DELETE: " + error);
        });
    },
    confirmDelete(id, name) {
      this.prec_id_to_delete = id;
      this.prec_name_to_delete = name;
      let self = this;
      this.$confirm({
        message: 'Tem certeza apagar "' + self.prec_name_to_delete + '"?',
        button: {
          no: "Não",
          yes: "Sim",
        },
        /**
         * Callback Function
         * @param {Boolean} confirm
         */
        callback: (confirm) => {
          if (confirm) {
            self.deletePreCadastrados(self.prec_id_to_delete);
          }
        },
      });
    },
    cadastrarPreCadastrados: function (id) {
      var obj = this.precs.filter((x) => x.id === id);
      this.precs = this.precs.filter((x) => x.id !== id);
      this.$parent.$children
        .find((child) => {
          return child.$options.name === "mobileFormulario";
        })
        .reset();
      this.fillFormulario(obj);
    },
    fillFormulario: function (obj) {
      let frm = this.$parent.$children.find((child) => {
        return child.$options.name === "mobileFormulario";
      });
      frm.merchant.name = obj[0].merchantName;
      frm.merchant.manager = obj[0].name;

      frm.merchant.address.city = obj[0].city;
      frm.merchant.email = obj[0].email;
      frm.merchant.phone = obj[0].phone;
      frm.merchant.category = obj[0].category;

      this.$parent.toggleVisible(2);
    },
  },
  mounted() {},
  created() {
    this.preregister();
  },
};
</script>

<style scoped>
.card {
  background: azure;
  font: 12px Arial, sans-serif;
  text-align: left;
  margin-bottom: 3px;
}
.mydanger {
  color: white;
  background: crimson;
  cursor: pointer;
}
.mysucess {
  color: white;
  background: green;
  cursor: pointer;
}
</style>
