<template>
  <div>

    <div class="rowx" style="padding: 5px">
      <div class="colx">
        <img
          src="../assets/singledeliverywhite.png"
          alt="singleDelivery"
          width="40%;"
          height="40%;"
        />
      </div>
    </div>

    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="#">NavBar</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item href="#" v-on:click="clickHandler(1)">
            Precadastrados
          </b-nav-item>
          <b-nav-item href="#" v-on:click="clickHandler(2)">
            Formulário
          </b-nav-item>
          <b-nav-item href="#" v-on:click="clickHandler(3)">
            Buscar
          </b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown right>
            <b-dropdown-item href="#">Profile</b-dropdown-item>
            <b-dropdown-item href="#">
              <router-link to="/logmein">Saida</router-link>
            </b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
<script>
export default {
  name: "navBar",
  methods: {
    clickHandler: function (n) {
      this.$parent.toggleVisible(n);
    },
  },
};
</script>
<style scoped>
</style>