<template>
  <b-container fluid class="">
    <b-row>
      <b-col cols="2" style="background: #00ff00; border: 1px solid red">
        <div>
          <b-form-select
            v-model="selectedRequest"
            :options="options"
            @change="onChange($event)"
          ></b-form-select>
          <div class="mt-3">
            Selected: <strong>{{ selectedRequest }}</strong>
          </div>
        </div>
      </b-col>

      <b-col cols="8">
        <b-container class="">
          <b-row>
            <b-col cols="4"> User </b-col>
            <b-col cols="4"> Password </b-col>
          </b-row>
          <b-row align-v="stretch">
            <b-col cols="4">
              {{ this.$root.$children[0].LOGIN.user }}
            </b-col>
            <b-col cols="4">
              {{ this.$root.$children[0].LOGIN.password }}
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="12" class="b">
              {{ this.$root.$children[0].LOGIN.token }}
            </b-col>
          </b-row>
          <!-- INPUT -->
          <div>
            <b-form-input
              v-model="request"
              placeholder="Enter request"
            ></b-form-input>
            <b-button
              v-on:click="getrequest"
              variant="outline-primary"
              style="margin: 10px"
              >GET-Request</b-button
            >
            <b-button
              v-on:click="postrequest"
              variant="outline-primary"
              style="margin: 10px"
              >POST-Request</b-button
            >
            <b-button
              v-on:click="putrequest"
              variant="outline-primary"
              style="margin: 10px"
              >PUT-Request</b-button
            >

            <textarea v-model="payload" rows="10" cols="100"></textarea>
            <pre style="text-align: left">{{ result }}</pre>
          </div>
        </b-container>
      </b-col>

      <b-col cols="2" style="background: #00ff00; border: 1px solid red">
        <div>
          <b-form-select
            v-model="selectedPayload"
            :options="optionsPayload"
            @change="onChangePayload($event)"
          ></b-form-select>
          <div class="mt-3">
            Payload:
            <pre><strong>{{ selectedPayload }}</strong></pre>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>

import axios from "axios";

var merchant = {
  id: 0,
  address: {
    id: 1,
    state: "BA",
    city: "Feira de Santana",
    neighbourhood: "Campo Limpo",
    streetName: "RUA VASP",
    streetNumber: "16",
    postalCode: "44033061",
    longitude: -38.9786611,
    latitude: -12.2189955,
  },
  name: "Sena Supermecado",
  cnpj: "03292202000142",
  email: "sena",
  city: "Feira de Santana",
  imageId: "https://singledeliveryimg.s3-sa-east-1.amazonaws.com/1/logo.jpg",
  bannerId: "https://singledelivery.s3-sa-east-1.amazonaws.com/1/banner.jpg",
  instagram: null,
  whatsApp: null,
  merchantStatus: 0,
  status: 1,
  category: 1,
  rating: 0,
  deliveryFee: 0,
  deliveryFeeFree: 0,
  minimumOrder: 0,
  commission: 5,
  phone: "(75) 3624-3624",
  password: "sena",
  manager: "Filipe Mendes dos Santos",
};

var newMerchant = {
  address: {
    state: "BA",
    city: "Hamburg",
    neighborhood: "BA",
    streetName: "RUA ABC",
    streetNumber: "1234",
    postalCode: "44033061",
    longitude: -38.9786611,
    latitude: -12.2189955,
  },
  name: "n5euer Laden",
  cnpj: "03292202000142",
  email: "abcd@def.com.br",

  merchantStatus: 0,
  status: 1,
  category: 1,

  commission: 5,
  phone: "(75) 3624-3624",
  password: "uwe",
  manager: "uwe testet",
};

var alterMerchant = {
  id: 11,
  address: {
    id: 9,
    state: "BA",
    city: "Berlin",
    neighborhood: "BA",
    streetName: "RUA ABC",
    streetNumber: "1234",
    postalCode: "44033061",
    longitude: -38.9786611,
    latitude: -12.2189955,
  },
  name: "n3euer Laden",
  cnpj: "03292202000142",
  email: "abcd@def.com.br",

  merchantStatus: 0,
  status: 1,
  category: 1,

  commission: 5,
  phone: "(75) 3624-3624",
  password: "uwe",
  manager: "uwe testet",
};
export default {
  name: "ApiTester",
  data() {
    return {
      baseUrl: this.$root.$children[0].SERVERAPI.server,
      bearerToken: "Bearer " + this.$root.$children[0].LOGIN.token,

      request: "",
      result: "initme",
      payload: "",
      selectedRequest: null,
      options: [
        {
          label: "Get-Requests",
          options: [
            {
              value: "merchants/preregister",
              text: "Get list of preRegistered",
            },
            {
              value: "merchants/getaddress?idMerchant=",
              text: "Get merchants address(id)",
            },
          ],
        },
        {
          label: "Post-Requests",
          options: [
            { value: "merchants/searchfull", text: "Search merchant" },
            { value: "merchants/0", text: "TEST merchant" },
            { value: "merchants", text: "Insert merchant" },
          ],
        },
        {
          label: "Put-Requests",
          options: [{ value: "merchants/11", text: "Update merchant" }],
        },
      ],
      selectedPayload: null,
      optionsPayload: [
        {
          label: "Payloads",
          options: [
            { value: '{"searchtext" : "search"}', text: "Search Merchant" },
            { value: merchant, text: "Test Merchant" },
            { value: newMerchant, text: "Insert Merchant" },
            { value: alterMerchant, text: "Update Merchant" },
          ],
        },
      ],
    };
  },
  methods: {
    getrequest: function () {
      axios
        .get(this.baseUrl + this.request, {
          headers: { Authorization: this.bearerToken },
        })
        .then((response) => {
          this.result = response.data;
        })
        .catch((error) => {
          console.error("There was an error! :: getrequest", error);
          alert("getrequest:\n" + error);
        });
    },
    postrequest: function () {
      // eslint-disable-next-line no-debugger
      debugger;
      try {
        this.result = JSON.parse(this.payload);
      } catch (e) {
        this.result = this.payload;
      }
      try {
        this.payload = JSON.parse(this.payload);
      } catch (e) {
        this.payload = this.payload;
      }
      // eslint-disable-next-line no-unreachable
      // eslint-disable-next-line no-debugger
      debugger;
      var self = this;
      axios
        .post(this.baseUrl + this.request, this.payload, {
          headers: { Authorization: this.bearerToken },
        })
        .then((response) => {
          // eslint-disable-next-line no-debugger
          debugger;
          // self.result = response.data;
          self.result = "Inserted with success!";
          this.payload = "";
        })
        .catch((error) => {
          // eslint-disable-next-line no-debugger
          debugger;
          //this.errormessage = error.message;
          self.result = error.message;
          console.error("There was an error! :: postrequest", error);
        });
    },
    putrequest: function () {
      // eslint-disable-next-line no-debugger
      debugger;
      try {
        this.result = JSON.parse(this.payload);
      } catch (e) {
        this.result = this.payload;
      }
      try {
        this.payload = JSON.parse(this.payload);
      } catch (e) {
        this.payload = this.payload;
      }
      // eslint-disable-next-line no-unreachable
      // eslint-disable-next-line no-debugger
      debugger;
      var self = this;
      axios
        .put(this.baseUrl + this.request, this.payload, {
          headers: { Authorization: this.bearerToken },
        })
        .then((response) => {
          // eslint-disable-next-line no-debugger
          debugger;
          // self.result = response.data;
          self.result = "Updated with success!";
          this.payload = "";
        })
        .catch((error) => {
          // eslint-disable-next-line no-debugger
          debugger;
          //this.errormessage = error.message;
          self.result = error.message;
          console.error("There was an error! :: putrequest", error);
        });
    },
    onChange(e) {
      this.request = e;
    },
    onChangePayload(e) {
      this.payload = e;
    },
  },
  //filters: {
  //  pretty: function(value) {
  //    return JSON.stringify(JSON.parse(value), null, 2);
  //  }
  //},
  created: function () {
    console.log("created in ApiTester");
  },
  mounted: function () {
    console.log("mounted in ApiTester");
  },
};

</script>

<style scoped>
.b {
  word-wrap: break-word;
}
.apitext {
  font-size: 35px;
  color: red;
  text-align: center;
  position: relative;
  top: 30px;
  text-shadow: 2px 2px 2px gray;
}
</style>