<template>
  <ValidationObserver ref="observer" v-slot="{ validate }">
    <!-- juli 2021 min-height: 75vh-->
    <div style="border: 1px solid purple; width: 103%; min-height: 80vh" mr-1>
      <b-form
        @keypress.enter.prevent
        @submit.prevent="validate().then(action_merchant)"
      >
        <b-container class="bv-container bg">
          <!--FIRST ROW -->
          <b-row>
            <!--Merchant Name-->
            <b-col cols="5" class="border">
              <ValidationProvider rules="required" name="Nome">
                <b-form-group
                  slot-scope="{ valid, errors }"
                  label-size="sm"
                  label-align="left"
                  label="Nome"
                >
                  <b-form-input
                    trim
                    type="text"
                    v-model="merchant.name"
                    :state="errors[0] ? false : valid ? true : null"
                    size="sm"
                    placeholder="Nome"
                  >
                  </b-form-input>
                  <b-form-invalid-feedback>
                    {{ errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </ValidationProvider>
            </b-col>
            <!--Status-->
            <b-col cols="2" class="border no-pad-right no-pad-left">
              <b-form-group label-size="sm" label-align="left" label="Status">
                <b-form-select
                  v-model="merchant.merchantStatus"
                  id="status"
                  size="sm"
                  :options="options"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <!--Category-->
            <b-col cols="3" class="border no-pad-right">
              <b-form-group
                label-size="sm"
                label-align="left"
                label="Categoria"
              >
                <b-form-select
                  v-model="merchant.category"
                  id="category"
                  size="sm"
                  :options="options_category"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <!--Commission-->
            <b-col cols="2" class="border no-pad-right">
              <ValidationProvider rules="numeric" name="commission">
                <b-form-group
                  slot-scope="{ valid, errors }"
                  label-size="sm"
                  label-align="left"
                  label="Commission"
                >
                  <b-form-input
                    trim
                    v-model="merchant.commission"
                    :state="errors[0] ? false : valid ? true : null"
                    size="sm"
                    placeholder="Commission"
                  >
                  </b-form-input>
                  <b-form-invalid-feedback>
                    {{ errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </ValidationProvider>
            </b-col>
          </b-row>

          <!--SECOND ROW -->
          <b-row>
            <!--Name-->
            <b-col cols="5" class="border">
              <ValidationProvider rules="required" name="responsavel">
                <b-form-group
                  slot-scope="{ valid, errors }"
                  label-size="sm"
                  label-align="left"
                  label="Responsável"
                >
                  <b-form-input
                    trim
                    type="text"
                    v-model="merchant.manager"
                    :state="errors[0] ? false : valid ? true : null"
                    size="sm"
                    placeholder="responsável"
                  >
                  </b-form-input>
                  <b-form-invalid-feedback>
                    {{ errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </ValidationProvider>
            </b-col>
            <!--Cnpj-->
            <b-col cols="2" class="border no-pad-right no-pad-left">
              <ValidationProvider rules="cpf_cnpj" name="cnpj">
                <b-form-group
                  slot-scope="{ valid, errors }"
                  label-size="sm"
                  label-align="left"
                  label="Cpf/Cnpj"
                >
                  <b-form-input
                    trim
                    v-model="merchant.cnpj"
                    :state="errors[0] ? false : valid ? true : null"
                    id="cnpj"
                    size="sm"
                    placeholder="Cpf/Cnpj"
                  >
                  </b-form-input>
                  <b-form-invalid-feedback>
                    {{ errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </ValidationProvider>
            </b-col>
            <!--Email-->
            <b-col cols="3" class="border no-pad-right">
              <ValidationProvider
                rules="email"
                name="email"
                v-slot="{ valid, errors }"
              >
                <b-form-group label-size="sm" label-align="left" label="Email">
                  <b-form-input
                    trim
                    type="text"
                    v-model="merchant.email"
                    :state="errors[0] ? false : valid ? true : null"
                    size="sm"
                    placeholder="Email"
                  >
                  </b-form-input>
                  <b-form-invalid-feedback>
                    {{ errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </ValidationProvider>
            </b-col>
            <!--Phone-->

            <b-col cols="2" class="border no-pad-right">
              <ValidationProvider
                rules="phoneBR"
                name="phone"
                v-slot="{ valid, errors }"
                :custom_messages="customMessages"
              >
                <b-form-group
                  label-size="sm"
                  label-align="left"
                  label="Telefone"
                >
                  <b-form-input
                    trim
                    type="text"
                    v-model="merchant.phone"
                    :state="errors[0] ? false : valid ? true : null"
                    size="sm"
                    placeholder="Telefone"
                  ></b-form-input>
                  <b-form-invalid-feedback>
                    {{ errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </ValidationProvider>
            </b-col>
          </b-row>

          <!-- SENHA -->
          <b-row>
            <b-col cols="12" class="border header text-left">SENHA</b-col>
          </b-row>
          <b-row>
            <!--Senha-->
            <b-col cols="7" class="border mt-1 mb-1">
              <b-form-input
                v-model="merchant.password"
                id="password"
                size="sm"
                placeholder="Aleatória"
              ></b-form-input>
            </b-col>
            <b-col cols="3" class="border mt-1 mb-1">
              <b-button
                block
                v-on:click="alea"
                size="sm"
                variant="outline-primary"
                >Gerar Aleátoria</b-button
              >
            </b-col>
          </b-row>

          <!-- ENDEREÇO -->
          <!-- FIRST ROW -->
          <b-row>
            <b-col cols="12" class="border header text-left">ENDEREÇO</b-col>
          </b-row>
          <b-row class="text-left" align-v="center">
            <!--CEP-->
            <b-col cols="3" class="border mt-1 mb-1">
              <ValidationProvider rules="digits:8" name="cep">
                <b-form-group
                  slot-scope="{ valid, errors }"
                  label-size="sm"
                  label-align="left"
                  label="CEP"
                  class="mb-0"
                >
                  <b-form-input
                    trim
                    v-model="merchant.address.postalCode"
                    :state="errors[0] ? false : valid ? true : null"
                    v-on:keydown.enter.prevent="getCEP"
                    size="sm"
                    placeholder="CEP"
                  >
                  </b-form-input>
                  <b-form-invalid-feedback>
                    {{ errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </ValidationProvider>
            </b-col>
            <b-col cols="9" style="font-size: 70%">
              Acionar "ENTER" para autopreencher os campos de endereço através
              de um CEP válido.
            </b-col>
          </b-row>
          <!-- SECOND ROW -->
          <b-row>
            <!--LOGRADOURO-->
            <b-col cols="7" class="border mb-1">
              <b-form-group
                label-size="sm"
                label-align="left"
                label="Logradouro"
                class="mb-0"
              >
                <b-form-input
                  trim
                  v-model="merchant.address.streetName"
                  id="logradouro"
                  size="sm"
                  placeholder="Logradouro"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <!--NÚMERO-->
            <b-col cols="2" class="border mb-1">
              <ValidationProvider rules="numeric" name="numero">
                <b-form-group
                  slot-scope="{ valid, errors }"
                  label-size="sm"
                  label-align="left"
                  label="Numero"
                  class="mb-0"
                >
                  <b-form-input
                    trim
                    v-model="merchant.address.streetNumber"
                    :state="errors[0] ? false : valid ? true : null"
                    id="numero"
                    size="sm"
                    placeholder="Numero"
                  >
                  </b-form-input>
                  <b-form-invalid-feedback>
                    {{ errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </ValidationProvider>
            </b-col>
            <!--BAIRRO-->
            <b-col cols="3" class="border mb-1">
              <b-form-group
                label-size="sm"
                label-align="left"
                label="Bairro"
                class="mb-0"
              >
                <b-form-input
                  v-model="merchant.address.neighborhood"
                  id="bairro"
                  size="sm"
                  placeholder="Bairro"
                  trim
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>

          <!-- THIRD ROW -->
          <b-row>
            <!--CITY-->
            <b-col cols="7" class="border mb-1">
              <b-form-group
                label-size="sm"
                label-align="left"
                label="Cidade"
                class="mb-0"
              >
                <b-form-input
                  v-model="merchant.address.city"
                  id="cidade"
                  size="sm"
                  placeholder="Cidade"
                  trim
                ></b-form-input>
              </b-form-group>
            </b-col>
            <!--ESTADO-->
            <b-col cols="2" class="border mb-1">
              <b-form-group
                label-size="sm"
                label-align="left"
                label="Estado"
                class="mb-0"
              >
                <b-form-input
                  v-model="merchant.address.state"
                  id="estado"
                  size="sm"
                  placeholder="Estado"
                  trim
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="3" class="border mb-1">
              <b-form-group class="mb-0"> &nbsp; </b-form-group>
            </b-col>
          </b-row>

          <!-- FOURTH ROW -->
          <b-row align-v="end">
            <!--LONGITUDE-->

            <b-col cols="3" class="border mb-5">
              <b-form-group
                label-size="sm"
                label-align="left"
                label="Longitude"
                class="mb-0"
              >
                <b-form-input
                  v-model="merchant.address.longitude"
                  id="longitude"
                  size="sm"
                  placeholder="Longitude"
                  trim
                ></b-form-input>
              </b-form-group>
            </b-col>
            <!--LATITUDE-->

            <b-col cols="3" class="border mb-5">
              <b-form-group
                label-size="sm"
                label-align="left"
                label="Latitude"
                class="mb-0"
              >
                <b-form-input
                  v-model="merchant.address.latitude"
                  id="latitude"
                  size="sm"
                  placeholder="Latitude"
                  trim
                ></b-form-input>
              </b-form-group>
            </b-col>
            <!--ALTERAR/INCLUIR-->

            <b-col cols="3" class="border mb-5">
              <b-button
                block
                type="submit"
                size="sm"
                variant="outline-primary"
                >{{ merchant.id > 0 ? "Alterar" : "Incluir" }}</b-button
              >
            </b-col>

            <!--RESET-->
            <b-col cols="3" class="border mb-5">
              <b-button
                block
                v-on:click="reset"
                size="sm"
                variant="outline-primary"
                >Reset</b-button
              >
            </b-col>
          </b-row>

          <!-- DEBUG -->
          <b-row v-if="debug">
            <b-col cols="12">
              <pre style="text-align: left">
                Merchant ID: {{ merchant.id }} </pre
              >
            </b-col>
          </b-row>
          <b-row v-if="debug">
            <b-col cols="12">
              <pre style="text-align: left"> Result  {{ result }} </pre>
            </b-col>
          </b-row>
          <b-row v-if="debug">
            <b-col cols="12">
              JSON payload <br />
              <pre style="text-align: left"> {{ payload }} </pre>
            </b-col>
          </b-row>
        </b-container>
      </b-form>
    </div>
  </ValidationObserver>
</template> 
     
<script>
import axios from "axios";
import merchant from "../domain/merchant.js";

const CepCoords = require("coordenadas-do-cep");

import { ValidationObserver, ValidationProvider, extend } from "vee-validate";

import { cpf, cnpj } from "cpf-cnpj-validator";

export default {
  name: "FORMULARIO",
  components: {
    ValidationObserver,
    ValidationProvider,
  },
  data() {
    return {
      name: "FORMULARIO",
      customMessages: {
        phoneBR: "O número de não é válido.",
        cpf_cnpj: "CPF/CNPJ não é válido.",
      },
      debug: false,
      result: "initme",
      payload: "",
      request: "merchants",
      baseUrl: this.$root.$children[0].SERVERAPI.server,
      bearerToken: "Bearer " + this.$root.$children[0].LOGIN.token,
      // simple object deep copy
      merchant: JSON.parse(JSON.stringify(merchant)),
      state: null,

      options: [
        //{ value: null, text: '' },
        { value: 0, text: "Fechado" },
        { value: 1, text: "Aberto" },
      ],

      options_category: [
        {
          label: "Categorias",
          options: [
            { value: 0, text: "Alimentação" },
            { value: 1, text: "Mercado" },
            { value: 2, text: "Farmácia" },
            { value: 3, text: "Roupas" },
            { value: 4, text: "Petshop" },
            { value: 5, text: "Cosméticos" },
            { value: 6, text: "Móveis" },
            { value: 7, text: "Construção" },
          ],
        },
      ],
    };
  },
  methods: {
    alea: function () {
      this.generatePassword(10);
    },
    getCEP: function () {
      let cep = this.merchant.address.postalCode;
      let isCEP = (cep) => /^[0-9]{8}$/.test(cep);
      if (!isCEP(cep)) {
        this.result = "Erro CEP: " + cep;
        this.$toast.error("CEP precisa-se exatamente 8 digitos!");        
        return;
      }

      CepCoords.getByCep(cep)
        .then((info) => {
          this.merchant.address.streetName = info.logradouro;
          this.merchant.address.streetNumber = info.complemento;
          this.merchant.address.neighborhood = info.bairro;
          this.merchant.address.city = info.localidade;
          this.merchant.address.state = info.uf;
          this.merchant.address.longitude = info.lon;
          this.merchant.address.latitude = info.lat;
          this.$toast.success("CEP válido!");
        })
        .catch((err) => {
          this.result = "CepCoords Erro: " + err;
          this.$toast.error("Erro CEP: " + err);
        });
    },
    async action_merchant() {
      this.payload = JSON.stringify(this.merchant, null, 2);
      let self = this;
      const isValid = await this.$refs.observer.validate();
      if (isValid) {
        // data is valid
      } else {
        this.$toast.error("Formulario não é válido!");
        self.result = "Favor, corrigir os erros!";
        return;
      }

      this.request = "merchants";
      if (this.merchant.id > 0) {
        this.request += "/" + this.merchant.id;
        this.update_merchant();
      } else {
        this.insert_merchant();
      }
    },
    reset: function () {
      // simple object deep copy
      this.merchant = JSON.parse(JSON.stringify(merchant));
    },
    update_merchant: function () {
      var self = this;
      axios
        .put(this.baseUrl + this.request, this.merchant, {
          headers: { Authorization: this.bearerToken },
        })
        .then(() => {
          this.$parent.$children
            .find((child) => {
              return child.$options.name === "SEARCH2";
            })
            .search();
          self.result = "Updated with success!";
          this.$toast.success("Successo alterar registro!");
        })
        .catch((error) => {
          self.result = error.message;
          this.$toast.error("Erro Alterar: " + error.message);        
        });
    },
    insert_merchant: function () {
      var self = this;
      axios
        .post(this.baseUrl + this.request, this.merchant, {
          headers: { Authorization: this.bearerToken },
        })
        .then(() => {
          this.$parent.$children
            .find((child) => {
              return child.$options.name === "SEARCH2";
            })
            .search();
          self.result = "Inserted with success!";
          this.$toast.success("Successo inserir novo registro!");
        })
        .catch((error) => {
          self.result = error.message;
          this.$toast.error("Erro Inserir: " + error.message);          
        });
    },
    generatePassword: function (len) {
      let password = "";
      let characters = "abcdefghijklmnopqrstuvwxyz";
      characters += "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
      characters += "0123456789";
      characters += "!\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~";
      for (let i = 0; i < len; i++) {
        password += characters.charAt(
          Math.floor(Math.random() * characters.length)
        );
      }
      this.merchant.password = password;
      this.$toast.info("Nova senha gerada!");
    },
  },
  created() {
    extend("verify_coupon", {
      // Custom validation message
      getMessage: (field) => `The ${field} is not a valid coupon.`,
      // Custom validation rule
      validate: (value) =>
        new Promise((resolve) => {
          const validCoupons = ["SUMMER2017", "WINTER2017", "FALL2017"];
          resolve({
            valid: value && validCoupons.indexOf(value.toUpperCase()) > -1,
          });
        }),
    });

    extend("phoneBR", {
      message: (field) => "O número de telefone não é válido.",
      // Custom validation rule
      validate: (value) =>
        new Promise((resolve) => {
          let pat = /\(?\b([0-9]{2,3}|0((x|[0-9]){2,3}[0-9]{2}))\)?\s*[0-9]{4,5}[- ]*[0-9]{4}\b/;
          resolve({
            valid: pat.test(value),
          });
        }),
    });

    extend("cpf_cnpj", {
      message: (field) => "O CPF/CNPJ não é válido.",
      // Custom validation rule
      validate: (value) =>
        new Promise((resolve) => {
          resolve({
            valid: cpf.isValid(value) || cnpj.isValid(value),
          });
        }),
    });
  },

  mounted() {},
};
</script>

<style scoped>
.header {
  background: rgb(156, 156, 224);
  color: white;
}
.no-pad-left {
  padding-left: 0px;
}
.no-pad-right {
  padding-right: 0px;
}
.border {
  border: 1px solid transparent !important;
}
.bg {
  background: whitesmoke;
}
</style>
