<template>
  <p class="homeText">This is my HOME.</p>
</template>
<script>
export default {
  name: "Home",
};
</script>
<style scoped>
.homeText {
  font-size: 35px;
  color: red;
  text-align: center;
  position: relative;
  top: 30px;
  text-shadow: 2px 2px 2px gray;
}
</style>
