<!--
LogMeIn.vue
get login credentials, save them in App.LOGIN
redirect to main site
-->
<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="bg-img">
          <form class="centered">
            <label>
              <img
                src="../assets/singledeliverywhite.png"
                alt="singleDelivery"
                width="100px;"
                height="100px;"
                style="position: absolute; left: -0px; top: -80px; z-index: 10"
              />
            </label>

            <input
              v-model="form['user']"
              ref="user"
              class="form-control input-sm"
              v-bind:class="{ error: hasError }"
              type="text"
              placeholder="Login"
              required
            />
            <input
              v-model="form['password']"
              class="form-control input-sm"
              v-bind:class="{ error: hasError }"
              type="password"
              placeholder="Senha"
              required
            />

            <button
              v-on:click.prevent="logmein"
              type="submit"
              class="btn btn-outline-primary py-2"
            >
              Entrar
            </button>
          </form>
        </div>
      </div>
    </div>
    <p>{{ info }}</p>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "LogMeIn",
  // create an object to hold all form values
  data() {
    return { form: {}, info: null, hasError: false };
  },
  mounted() {
    this.info = process.env.VUE_APP_MODE;
    this.info += ": " + process.env.VUE_APP_SERVERAPI;
    this.$refs.user.focus();
  },
  methods: {
    logmein: function (event) {
      // `this` inside methods points to the Vue instance
      // `event` is the native DOM event
      // localhost:8088 => vs. 192.168.0.153:8088
      // => CORS problem => use IP

      var user = this.form.user;
      var password = this.form.password;

      var creds = {};
      creds.Login = this.form.user;
      creds.Password = this.form.password;
      // get base server URL from root components first child (App.vue)
      // [development|production]
      var base = this.$root.$children[0].SERVERAPI.server;
      axios
        .post(base + "token/tokensuperuser", creds)
        .then((response) => {
          this.info = response.data;
          this.hasError = false;
          // set LOGIN with token in root components first child (App.vue)
          this.$root.$children[0].LOGIN.user = user;
          this.$root.$children[0].LOGIN.password = password;
          this.$root.$children[0].LOGIN.token = response.data; // bearer token
          var target = "mainPage";
          // mobile
          const touch = matchMedia("(hover: none)").matches;
          const isMobileDevice = /Mobi/i.test(window.navigator.userAgent);
          const isMobileDevice2 = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
            navigator.userAgent
          );
          const myInnerHeight = window.innerHeight <= 640;
          if (myInnerHeight) target = "mmainpage";
          if (touch) target = "mmainpage";
          if (isMobileDevice) target = "mmainpage";
          if (isMobileDevice2) target = "mmainpage";

          if (this.$router.mode == "hash") {
            target = "#/" + target;
          }

          // this.$router.push(target);
          // not working if in hash mode

          // so ... redirect ...
          window.location.href = target;
        })
        .catch((error) => {
          this.errorMessage = error.message;
          this.info = error.message;
          this.hasError = true;
          this.$toast.error(error.message);
        });
    },
  },
};
</script>

<style scoped>
.error {
  background: #e10000 !important;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg-img {
  /* The image used */
  background-image: url("../assets/backgroundlogin.png");
  min-height: 600px;
  height: 90%;
  max-height: 90%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  max-width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
/* Set a style for the submit button */
.btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.btn:hover {
  opacity: 1;
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 640px) {
  body {
    background-color: olive;
  }
}
.column {
  width: 100%;
  margin: auto;
}
</style>