<template>
  <!--
  <div class="container">
    <div class="row" style="padding: 50px">
      <div class="col">
        <img
          src="../assets/singledeliverywhite.png"
          alt="singleDelivery"
          width="100px;"
          height="100px;"
        />
      </div>
    </div>

    <div class="row" style="padding: 50px">
      <div class="col">Estabelecimentos</div>
    </div>

    <div class="row">
      <div class="col">
        <pre-cadastrados></pre-cadastrados>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <router-link to="/logmein">Sair</router-link>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <router-link to="/apitester">ApiTester</router-link>
      </div>
    </div>
  </div>
  -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <router-link to="/logmein">Sair</router-link>
      </div>
      <!--
      <div class="col-2">
        <router-link to="/apitester">ApiTester</router-link>
      </div>
      -->
    </div>

    <div class="row" style="padding: 5px">
      <div class="col">
        <img
          src="../assets/singledeliverywhite.png"
          alt="singleDelivery"
          width="100px;"
          height="100px;"
        />
      </div>
    </div>

<div class="row" style="padding-top:10px;">
   <div class="row align-items-end">         
            <div class="col-12">
              <b-button
                v-on:click="togglePreCadastrados"
                size="sm"
                class="mb-1"
                variant="error"
              >
               Pré-cadastrados
              </b-button>
            </div>
          </div>
</div>

    <div class="row" id="ID_PRECADASTRADOS" style="display:none">
      <div class="col-12 all">
        <div
          class="container"
          style="
            overflow-x: hidden;
            overflow-y: auto;
            max-height: 72vh;
            margin-top: 14px;
            border: 1px solid purple;
          "
        >
          <div class="row"></div>

          <div class="row align-items-end">
            <div class="col-9 precadastrados">&nbsp;</div>

            <div class="col-2" style="padding-top:20px;">
              <b-button
                v-on:click="refresh"
                size="sm"
                class="mb-1"
                variant="outline-info"
              >
                <b-icon icon="arrow-clockwise" aria-hidden="true"></b-icon>
              </b-button>
            </div>
          </div>

          <div class="row">
            <div class="col-12 list-precadastrados">
              <pre-cadastrados></pre-cadastrados>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import PreCadastrados from "@/components/Precadastrados";

import jQuery from "jquery";
const $ = jQuery;
window.$ = $;

export default {
  name: "MainPageLeft",
  components: { PreCadastrados },
  data() {
    return {
      name: "MAINPAGELEFT",
    };
  },
  methods: {
    refresh: function () {
      this.$children
        .find((child) => child.$options.name === "PreCadastrados")
        .preregister();
    },
    togglePreCadastrados: function () {
      //console.log("TOGGLE");
      let status = $("#ID_PRECADASTRADOS").css("display");
      console.log(status);
      if (status == "flex") { $("#ID_PRECADASTRADOS").css("display","none"); }
      else {  $("#ID_PRECADASTRADOS").css("display","flex"); }
         
    },
  },
};
</script>
<style scoped>
a {
  color: black;
}
.estabelicimentos {
  font: 24px Arial, sans-serif;
  padding-top: 50px;
}
.precadastrados {
  font: 18px Arial, sans-serif;
  padding-top: 30px;
}
.list-precadastrados {
  padding-top: 20px;
}
.all {
  background: rgb(235, 235, 224);
  border: 1px solid black;
}
.search-img {
  cursor: pointer;
  background-color: rgba(23, 162, 184, 0.3);
}
</style>