<template>
  <div class="container-fluid">
    <div class="row">

      <!--
      <div class="col-3 all">
        <div
          class="container"
          style="
            overflow-x: hidden;
            overflow-y: auto;
            max-height: 90vh;
            margin-top: 14px;
            border: 1px solid purple;
          "
        >
          <div class="row">
            <div class="col-3 estabelicimentos">Estabelecimentos</div>
          </div>

          <div class="row align-items-end">
            <div class="col-9 precadastrados">Pré-cadastrados</div>

            <div class="col-2">
              <b-button
                v-on:click="refresh"
                size="sm"
                class="mb-1"
                variant="outline-info"
              >
                <b-icon icon="arrow-clockwise" aria-hidden="true"></b-icon>
              </b-button>
            </div>
          </div>

          <div class="row">
            <div class="col-12 list-precadastrados">
              <pre-cadastrados></pre-cadastrados>
            </div>
          </div>
        </div>
      </div>
-->
      
      <div class="col-12 all">
        <div class="container mr-auto" style="padding-top: 40px"> <!--juli2021 90px-->
          <div class="row">
            <div class="col-1">
              <b-button
                v-show="isForm"
                v-on:click="toggle"
                size="sm"
                class="mb-2"
                variant="outline-info"
              >
                <b-icon icon="search" aria-hidden="true"></b-icon>
              </b-button>
              <b-button
                v-show="!isForm"
                v-on:click="toggle"
                size="sm"
                class="mb-2"
                variant="outline-info"
              >
                <b-icon icon="caret-left-square" aria-hidden="true"></b-icon>
              </b-button>
            </div>
          </div>
          <div
            v-show="isForm"
            class="row mb-1"
            id="id-myform"
            style="min-height: 75vh"
          >
            <formulario></formulario>
          </div>
          <div
            v-show="!isForm"
            class="row mb-1"
            id="id-search"
            style="min-height: 75vh"
          >
            <search2></search2>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//import PreCadastrados from "@/components/Precadastrados";
import Formulario from "@/components/Formulario";
import Search2 from "@/components/Search2";

import jQuery from "jquery";
const $ = jQuery;
window.$ = $;

export default {
  name: "MainPageRight",
  components: { Formulario, Search2 },
  data() {
    return {
      name: "MAINPAGERIGHT",
      isForm: true,
    };
  },
  methods: {
    refresh: function () {     
      this.$children
        .find((child) => child.$options.name === "PreCadastrados")
        .preregister();
    },
    toggle: function (event) {
      this.isForm = !this.isForm;
    },
  },
};
</script>

<style scoped>
/*
.search {
  display:block;
}
*/
.estabelicimentos {
  font: 24px Arial, sans-serif;
  padding-top: 50px;
}
.precadastrados {
  font: 18px Arial, sans-serif;
  padding-top: 30px;
}
.list-precadastrados {
  padding-top: 20px;
}
.all {
  background: rgb(235, 235, 224);
  border: 1px solid black;
}
.search-img {
  cursor: pointer;
  background-color: rgba(23, 162, 184, 0.3);
}
</style>