<template>
  <div style="overflow-x: auto">
    <!--juli 2021 min-height: 75vh-->
    <b-container
      fluid
      class="bv-container search"
      style="
        padding-top: 10px;
        border: 1px solid purple;
        overflow-x: auto;
        width: 95%;
        min-height: 80vh;
      "
    >
      <b-row>
        <b-col cols="12" class="border header text-left">Merchants</b-col>
      </b-row>
      <b-row>
        <b-col cols="12" style="overflow-x: auto">
          <vue-good-table
            :columns="columns"
            :rows="rows"
            @on-row-click="onRowClick"
            styleClass="vgt-table condensed"
            :fixed-header="true"
            :line-numbers="true"
            max-height="450px"
            theme="polar-bear"
            compactMode
            :pagination-options="{
              enabled: true,
              mode: 'records',
              perPage: 7,
              position: 'bottom',
              perPageDropdown: [3, 7, 9],
              dropdownAllowAll: false,
              setCurrentPage: 1,
              nextLabel: 'proximo',
              prevLabel: 'anterior',
              rowsPerPageLabel: 'Registros per página',
              ofLabel: 'de',
              pageLabel: 'página',
              allLabel: 'All',
              infoFn: (params) =>
                `${params.firstRecordOnPage} á ${params.lastRecordOnPage} - página ${params.currentPage} de ${params.totalPages}`,
            }"
          >
            <template slot="table-row" slot-scope="props">
              <span style="font-weight: bold; color: black; font-size: 12px"
                >{{ props.formattedRow[props.column.field] }}
              </span>
            </template>
          </vue-good-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "SEARCH2",
  data() {
    return {
      name: "SEARCH2",
      baseUrl: this.$root.$children[0].SERVERAPI.server,
      bearerToken: "Bearer " + this.$root.$children[0].LOGIN.token,
      columns: [
        {
          label: "Nome",
          field: "name",
          width: "20%",
          filterOptions: {
            enabled: true, // enable filter for this column
            placeholder: "Filtrar", // placeholder for filter input
            filterValue: "", // initial populated value for this filter
          },
        },
        {
          label: "Cpf/Cnpj",
          field: "cnpj",
          width: "15%",
        },
        {
          label: "Responsável",
          field: "manager",
          width: "20%",
          filterOptions: {
            enabled: true, // enable filter for this column
            placeholder: "Filtrar", // placeholder for filter input
            filterValue: "", // initial populated value for this filter
          },
        },
        {
          label: "Cidade",
          field: "city",
          width: "20%",
          filterOptions: {
            enabled: true, // enable filter for this column
            placeholder: "Filtrar", // placeholder for filter input
            filterValue: "", // initial populated value for this filter
          },
        },
        {
          label: "Telefone",
          field: "phone",
          width: "15%",
        },
        {
          label: "Cat.",
          field: "category",
          type: "number",
          width: "5%",
        },
      ],
      rows: [],
      merchants: {},
    };
  },
  methods: {
    search: function () {
      let self = this;
      axios
        .post(
          this.baseUrl + "merchants/searchfull",
          { searchtext: "" },
          { headers: { Authorization: this.bearerToken } }
        )
        .then((response) => {
          self.merchants = response.data;
          // empty array first !
          this.rows.length = 0;
          Object.values(self.merchants).forEach((merchant) =>
            self.fill(merchant)
          );
        })
        .catch((error) => {
          this.$toast.error(error.message);
        });
    },
    fill: function (x) {
      let o = {};
      o.id = x.id;
      o.name = x.name;
      o.cnpj = x.cnpj;
      o.manager = x.manager;
      o.city = x.city;
      o.phone = x.phone;
      o.category = x.category;
      this.rows.push(o);
    },
    onRowClick: function (params) {
      let o = this.merchants.filter((x) => x.id == params.row.id);
      //this.$parent.$children[1].merchant = o[0];
      this.$parent.$children.find((child) => {
        return child.$options.name === "FORMULARIO";
      }).merchant = o[0];
      this.$parent.isForm = true;
    },
  },
  created() {
    this.search();
  },
};
</script>

<style scoped>
td.vgt-left-align span {
  color: indigo !important;
}
.header {
  background: rgb(156, 156, 224);
  color: white;
}
.border {
  border: 1px solid transparent !important;
}
.search {
  background: whitesmoke;
}
</style>