<!--
App.vue
holds router-view, login credentials and server api.
-->
<template>
  <div id="app">
    <vue-confirm-dialog></vue-confirm-dialog>
    <router-view></router-view>
  </div>
</template>

<script>
/**
 * Login object
 * */
var LOGIN = {
  user: "none",
  password: "password",
  token: "token",
};
/**
 * Server object
 * */
var SERVERAPI = {
  server: process.env.VUE_APP_SERVERAPI,
};
export default {
  name: "App",
  /**
   * holds login credentials available in all components
   * to pass bearer token to axios calls.
   * */
  data() {
    return { LOGIN, SERVERAPI };
  },
  mounted() {},
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  background: #abcdef;
}
@media screen and (max-width: 640px) {
  #app {
    margin: 0px;
  }
}
</style>